---
layout: default
title: Hello, my name is Tavinder<br>And I'm lucky if I use English right.
comments_id: 7
---
<section class="section-features js--section-features" id="features"> <!-- this is an anchor with food delivery-->
	<div class="row"> <!-- use this row from grid.css because it will center-->
		<h2>To help me help you...<br/>this is what this is all about.<br/>Follow?</h2>
	</div>
	<div>
		<div class="row">
			<div class="col span-1-of-1 box">
				<p>Over the years I've been fortuante enough to have people become "Tav Fluent" in <b>understnading</b> (<-- <u>like that</u>) my attempts at using the english language through spoken words, badely written early morning emails, all of whcih have some level of confusion in the miss use of words, idioms (or combining idioms), and creating new words in what are called 'tavisms.'  Sometimes my statistics talk is confused for 'Tavisms' - I'm okay with that.  <br><br>If you have not yet been subjected to such Tom Foolery... well then, you may not be actually talking to me.  To be honest, I don't remember many of the 'isms' as I write this, and there have been various lists made, including my person favourite: a long 'wall-post it' on my office door people kept adding to. I took a picture of it, but cannot seem to find it.  Like all good things, it should stay in memory.
				</p>
			</div>
		</div>
	</div>
<div class="row">
	<h2>FYI</h2>
	<h4 style="text-align:center">Sometimes, I just pretend these are all British slangs to confuse my readers, and listeners...</h4>
</div>
</section>
<section class="section-features js--section-features" id="idioms"> <!-- this is an anchor with food delivery-->
<div class="row js--wp-1">
	
	<div class="row">
		<div class="col span-1-of-1 box">  <!-- again using grid.css, add box so we can style-->
			<i class="icon ion-ios-alert icon-big"> Idiom Confusion/Combined</i> <!-- add icon-big so you .css it -->
			<h4>I get a lot of idioms wrong, combined or just mis-aligned to meet my own needs from its purpose or creation.  Most common ones include:</h4><br/>
			<p>The horse has left the cart somewhere = 'The cart has left the horse.' Wait, I cannot even tell if this is right anymore. What is the saying?</p><br/>
			<p>The bag has left the cat = 'The cat is out of the bag.' <-- but what I'm really saying is cover your eyes, its going to get ugly... when I use this one.</p>	<br/>
			<p>Coal in the Cannery mind = I later discovered this was "Cannary in the coal mine."  And then still don't use it right</p><br/>
			<p>Read herring =  I thought this was all 'signal' look at me! Apparently its a distractor! All these years, I often wondered why people didn't take my point serious when I used this saying.  I now know why.</p><br/>
			<p>Play it by year = "Play it by ear"</p>		
		</div>
	</div>

	<div class="row">
		<div class="col span-1-of-1 box">  <!-- again using grid.css-->
			<i class="icon ion-ios-code icon-big"> Made up Words</i>
			<h4>I smush a lot of words together.  The most common one:</h4><br/>
			<p>Whoppins if = what happines ... if</p>
		</div>								
	</div>	

	<div class="row">
		<div class="col span-1-of-1 box">  <!-- again using grid.css-->
			<i class="icon ion-logo-freebsd-devil icon-big"> Miss-Pronunciations</i>
			<h4>I struggle with the following:</h4><br/>
			<p>Pleuthra = plenthra, ple-thra, lots and lots of... </p>
			<p>Rural (argh!) = ruler, rurrraaallallarrr</p>
			<p>Anecdotal = anikdote, anci-dotal... this one is a personal nightmare.</p><br/>
			<h4>Sometimes it is a 'you say tomato, I say tomoto--- momemnt...' probably 25% of the time, but I'll take those odds.</h4><br/>
			<p>E.g.,</p>
			<p>Lieu vs. Lief-tant</p>
			<p>Musle-skel-etal vs. Musco-skull-e-tal</p>
		</div>								
	</div>		

</div>
</section>

<section>
	<div class="row"> <!-- use this row from grid.css because it will center-->
		<h2>Tav Fluency</h2>	
	</div>
	<div class="row">
		<div class="col span-1-of-2 box">  <!-- again using grid.css, add box so we can style-->
			<figure class="main-photo">
				<img src="assets/images/heat_map.jpg" alt="heatmap">
			</figure>
		</div>
		<div class="col span-1-of-2 box">  <!-- again using grid.css, add box so we can style-->
			<p>Apparently its a thing! And it has a correlation with happiness!  
			</p>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<p>Take all of this with a grain of salt that is diluted in coffee inside a partially solved rubric's cube spinning on a wobbling axis of a top... <br/><u>That is the leg I stand on.  That is the moose in the street.</u>
		<br><br><h4>PS. I do a lot of silly things, like making this webstie the day before my 41st birthday.</h4><br><br>ENJOY!</p><br><br>If this is all too much <a href="https://www.youtube.com/results?search_query=spss+videos">Take me to the kittens (Aka SPSS).</a>
	</div>
</section>

<!--<section id="comments">
	<div class="row">
		{% if page.comments_id %}
			{% include comments.html %}
		{% endif %}
	</div>

</section>-->

