---
layout: default
title: Hello, my name is Tavinder<br>And I'm lucky if I use English right.
comments_id: 7
---
<section class="section-features js--section-features" id="features"> <!-- this is an anchor with food delivery-->
	<div class="row"> <!-- use this row from grid.css because it will center-->
		<h2>To help me help you...<br/>this is what this is all about.<br/>Follow?</h2>
	</div>
	<div>
		<div class="row">
			<div class="col span-1-of-1 box">
				<p>Over the years I've been fortuante enough to have people become "Tav Fluent" in <b>understnading</b> (<-- <u>like that</u>) my attempts at using the english language through spoekn words, badely written early morning emails that all have some level of confusion in miss using words, idiums (or combined idiums), and newly created 'isms.'  If you have not yet been subjected to such Tom Foolery... well then, you may not be actually talking to me.  To be honest, I don't remember many of them, and there have been various lists made: including my person favourite, which was a long 'wall-post it' on my office door peopel kept adding to. I took a picture of it, but cannot seem to find it.  Like all good things, it should stay in memory.
				</p>
			</div>
		</div>
	</div>
<div class="row">
	<h2>FYI</h2>
	<h4 style="text-align:center">Sometimes, I just pretend these are all British slangs to confuse my readers, and listeners...</h4>
</div>
</section>
<section class="section-features js--section-features" id="idiums"> <!-- this is an anchor with food delivery-->
<div class="row js--wp-1">
	
	<div class="row">
		<div class="col span-1-of-1 box">  <!-- again using grid.css, add box so we can style-->
			<i class="icon ion-ios-desktop icon-big"></i> <!-- add icon-big so you .css it -->
			<h3>Idium Confusion / Combined</h3>
			<p>I get a lot of idiums wrong, combined or just mis-aligned to meet my own needs from its purpose or creation.  Most common ones include:</p><br/>
			<p>The horse has left the cart somewhere = 'The cart has left the horse.'</p><br/>
			<p>The bag has left the cat = 'The cat is out of the bag.' <-- but what I'm really saying is cover your eyes, its going to get ugly... when I use this one.</p>
		</div>
	</div>
	<div class="row">
		<div class="col span-1-of-1 box">  <!-- again using grid.css-->
			<i class="icon ion-ios-calculator icon-big"></i>
			<h3>Miss prounucations and Made up Words</h3>
			<p>Most of the time I cannot really speak english.  
			</p>
		</div>								
	</div>	

</div>
</section>

<section>
	<div class="row"> <!-- use this row from grid.css because it will center-->
		<h2>Tav Fluency</h2>	
	</div>
	<div class="row">
		<div class="col span-1-of-2 box">  <!-- again using grid.css, add box so we can style-->
			<figure class="main-photo">
				<img src="assets/images/heat_map.jpg" alt="heatmap">
			</figure>
		</div>
		<div class="col span-1-of-2 box">  <!-- again using grid.css, add box so we can style-->
			<p>Apparently its a thing! And it has a correlation with happiness!  
			</p>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<p>Take all of this with a grain of salt that is diluted in coffee inside a partially solved rubric's cube spinning on a wobbling axis of a top... <b>That is the leg I stand on.</b>
		</p>
	</div>
</section>

<!--<section id="comments">
	<div class="row">
		{% if page.comments_id %}
			{% include comments.html %}
		{% endif %}
	</div>-->

</section>

