<nav>
	<div class="row">
		<img src="assets/css/img/logo.png" alt-"Airplane logo" class="logo">
		<img src="assets/css/img/logo.png" alt-"Airplane logo" class="logo-black"> 
		<ul class="main-nav js--main-nav">
			<li><a href="/">Data Analysis</a></li>
			<li><a href="http://tavinderark.com/earthquake">Earthquake Data</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/aboutme">About me</a></li>
		</ul>
	<a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a> <!-- mobile menue -->
	</div>
</nav>
