<nav>
	<div class="row">
		<img src="assets/css/img/logo.png" alt-"Airplane logo" class="logo">
		<img src="assets/css/img/logo.png" alt-"Airplane logo" class="logo-black"> 
		<ul class="main-nav js--main-nav">
			<li><a href="/index">Home</a></li>
			<li><a href="#idiums">Isms</a></li>
			<li><a href="/#idiums">Idiums</a></li>
			<li><a href="/fluencytest">Tav Fluency Test</a></li>
			<li><a href="/comments">Leave an ISM!</a></li>
			<li><a href="/aboutme">About me</a></li>
		</ul>
	<a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a> <!-- mobile menue -->
	</div>
</nav>
